body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 330px;
    border: 10px solid burlywood;
    gap: 10px;
    padding: 10px;
    margin-top: 40px;
    background-color: aliceblue;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.displayContainer{
    flex: 1 1 0;
    width: 300px;
    border: 2.5px dashed forestgreen;
    padding: 10px;
    display: flex;
    background-color: beige;
}

.display{
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
    padding: 10px;
    
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;

}

.numbers, .operators{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* flex: 1 1 0; */
    /* width: 200px;
    height: 400px; */
}

.numbers{
    
    /* flex-direction: row-reverse; */
}

button{
    flex: 1 1 0;
    min-height: 50px;
    min-width: 50px;
    background-color: white;
    color: darkgreen;
    border-radius: 5px;
    font-size: larger;
    border: 1px solid;
}